<ul class="breadcrumb">
    {{#iter breadcrumbs}}
        {{#unless this.iterStatus.last }}
            <li><a href="#" data-path="{{ this.path }}" {{#if this.iterStatus.first }}id="name"{{/if}}>{{ this.text }}</a> {{#unless this.iterStatus.first }}<span class="divider">/</span>{{/unless}}</li>
        {{/unless}}
        {{#if this.iterStatus.last }}
            <li {{#if this.iterStatus.first }}id="name"{{/if}} class="active">{{ this.text }}</li>
        {{/if}}
    {{/iter}}
</ul>
