<div class="row-fluid">
    <div class="span2 left-menu">
        <ul class="nav nav-list">
            <li class="nav-header">Messages</li>
            <li class="active"><a href="" data-id="messages-both">Total</a></li>
            <li><a href="" data-id="messages-successes">Completed</a></li>
            <li><a href="" data-id="messages-failures">Failed</a></li>
            <li class="nav-header">Times</li>
            <li><a href="" data-id="times-all">All</a></li>
            <li><a href="" data-id="times-average">Average</a></li>
            <li><a href="" data-id="times-minimum">Minimum</a></li>
            <li><a href="" data-id="times-maximum">Maximum</a></li>
        </ul>
    </div>
    <div class="span10">
        <div data-id="graph"></div>
        <div data-id="overview"></div>
    </div>
</div>
